{% extends 'base.html' %}

{%block Title%}
    Edit
{%endblock%}

{%block content%}

	<form method="POST" enctype="multipart/form-data" action="{% url 'edit_info' user.id %}" >
        {%csrf_token%}
		<div class="container">
			<h2>Edit info</h2>
            {{form.as_p}}
			<button type="submit">Update</button>
			<br>
		</div>
 <style>
input[type=text] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password] {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=email] {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 30%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

button {
  width: 30%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

div {

  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}
</style>
	</form>
{%endblock%}
