{% extends 'base.html' %}

{%block Title%}
    Login
{%endblock%}

{%block content%}
<center>

  <h2>Login</h2>

	<form method = "GET" action="{% url 'handle_login' %}">
		<div class="container">
			<label><b>Email</b></label>
			<input type="text" placeholder="Enter Your Email" name="email" required>
            <br>
			<label><b>Password</b></label>
			<input type="password" placeholder="Enter Password" name="psw" required>
            <br>
			<button type="submit">Login</button>
			<br>
			<button onclick="location.href='{% url 'register' %}'" type="button">
         Register</button>
		</div>
		<p style="color:red"> {{ error }} </p>
        <br>
		<div class="container" style="background-color:#f1f1f1">
		</div>

	</form>

</center>

<title>
	Login
</title>
<style>
	

	form {
		border: 3px solid #f1f1f1;
	}
	

	input[type=text],
	input[type=password] {
		width: 40%;
		padding: 12px 20px;
		margin: 8px 0;

		border: 1px solid #ccc;
		box-sizing: border-box;
	}
	

	button {
		background-color: #4CAF50;
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		cursor: pointer;
		width: 40%;
	}
	/* set a hover effect for the button*/

	button:hover {
		opacity: 0.8;
	}
	

	.cancelbtn {
		width: auto;
		padding: 10px 18px;
		background-color: #f44336;
	}
	

	.imgcontainer {
		text-align: center;
		margin: 24px 0 12px 0;
	}
	/set image properties/

	img.avatar {
		width: 40%;
		border-radius: 50%;
	}

	.container {
		padding: 16px;
	}
	

	span.psw {
		float: right;
		padding-top: 16px;
	}


	@media screen and (max-width: 300px) {
		span.psw {
			display: block;
			float: none;
		}
		.cancelbtn {
			width: 50%;
		}
	}
</style>

{%endblock%}
